@media screen and (max-width: 500px) {
  .main {
    .content {
      width: 330px;
      height: 660px;
      border-radius: 20px 20px 20px 20px;
      min-width: 260px;

      .grid__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .content__img {
          .desctop-image {
            display: none;
          }
          .mobile-image {
            display: flex;
            width: 100%;
            grid-column: 1;
            height: 250px;
            border-radius: 20px 20px 0 0;
          }
        }

        .content__text {
          grid-column: 1;
          margin: 25px 25px;
        }
      }
    }
  }
}
